<!DOCTYPE html>

    <%- 
        include('../partials/heads'); 
    %>
<body class="container">
    
    <%- 
        include('../partials/header', {pagina: 'Sobre'}); 
    %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>
                Oi, sou o Gabriel, estudante de Node
            </p>
        </div>
    </main>
    
    <%- 
        include('../partials/footer'); 
    %>
</body>
</html>